*~
.DS_Store
.Rhistory
.Rproj.user/
.ipynb_checkpoints/
*.jld
build/
docs/build/




# pg-pollen data files
data/grid_3.1.RDS
data/grid_5.0.RDS
data/map-data/
data/paleo_pollen_dat_3.1.RDS
data/paleo_pollen_locs_3.1.RDS
data/pollen_dat_4.0.RDS
data/pollen_dat_5.0.RDS
data/pollen_locs_4.0.RDS
data/pollen_locs_5.0.RDS
data/pollen_north_america_ABI_v7.0.csv
data/pollen_north_america_ABI_v8.0.csv
data/pollen_north_america_lc6k2_v8.0.csv
data/pollen_taxa_3.1.RDS
data/sites_north_america.rdata
data/sites_north_america_ABI_v8.0.csv
data/sites_north_america_lc6k2_v8.0.csv
data/species-names.RDS
data/taxa_4.0.RDS
data/taxa_5.0.RDS
data/taxa_north_america_ABI_v8.0.csv
data/taxa_north_america_lc6k2_v8.0.csv